.content {
    border: 1.5px solid blue;
    width: 100%;
    height: auto;
    display: flex;
    font-family: sans-serif;
    font-size: 5mm;
}

.Gh-1 {
    display: none;
}

.Gh-1 p {
    /* width: 700px; */
    margin-top: 5px;
    margin: 0 30px;
    font-size: 4.9mm;
}

.Gh-1 h3 {
    display: flex;
    justify-content: center;
    color: #a80000;
}

.Gh-2 {
    padding: 8px 30px;
}

.Gh-2 p {
    margin-top: 5px;
    /* margin: 0 30px; */
    font-size: 4.9mm;
}

.Gh-2 h3 {
    display: flex;
    justify-content: center;
    color: #a80000;
}