.sidebar {
    /* border: 3px solid red; */
    width: 185px;
    height: 93vh;
    margin-left: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #111111;
    color: #bdbdbd;
    font-size: 4.75mm;
}
.acc {
    border: 1px solid red;
    width: 100%;
    height: 145px;
}
details {
    margin-right: 10px;
    /* font-size: 5mm; */
}
.Departments p {
    text-decoration-line: line-through;
    margin-right: 15px;
}