/* Start She */
.social-media {
    /* border: 1px solid black; */
    border-radius: 15px;
    width: 120px;
    height: 50px;
    margin-top: 20px;
    margin-left: 52vh;
    padding-top: 15px;
    padding-left: 5px;
    padding-bottom: 20vh;
    background-color: #b4b4b463;
    display: flex;
    flex-direction: column;
    transition: transform 0.4s;
    /* display: none; */
}
.she1{
    margin-left: 9px;
    transition: transform 0.4s;
}
.she1:hover {
    margin-left: 9px;
    cursor: default;
    color: #00B7FF;
    transform: scale(1.2);
    text-decoration-line: none;
}
.she2{
    margin-left: 9px;
    padding-top: 15px;
    transition: transform 0.4s;
}
.she2:hover {
    margin-left: 9px;
    cursor: default;
    color: #00B7FF;
    transform: scale(1.2);
}
.she3{
    margin-left: 9px;
    padding-top: 15px;
    transition: transform 0.4s;
}
.she3:hover {
    margin-left: 9px;
    cursor: default;
    color: #00B7FF;
    transform: scale(1.2);
}
.she3 i {
    color: black;
}
.she4{
    margin-left: 9px;
    padding-top: 15px;
    transition: transform 0.4s;
}
.she4:hover {
    margin-left: 9px;
    cursor: default;
    color: #00B7FF;
    transform: scale(1.2);
}
/* End she*/
