.sw { 
    display: none;
    border: 2px solid #ffffff64;
    width: 35vh;
    height: 40vh;
    margin: auto;
    margin-top: 150px;
    background-color: #ffffff64;
}
.button {
    display: flex;
    justify-content: space-between;
}
.create, .signin {
    border: 1px solid blue;
    border-radius: 5px;
    width: 67px;
    height: 39px;
    display: block;
    background-color: #ffffff44;
    margin: 10px  auto;
}