* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Serif Text";
}
body {
    /* width: 203.6vh;
    height: 99.3vh; */
    background-image: url(../images/bg3.png);
}
.check {
    margin-top: 30px;
    margin-left: 10px;
    width: 450px;
}
.audio {
    background: none;
    border: 0px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    /* margin-top: 25px;
    margin-left: 5px; */
}
audio {
    display: none;
    width: 350px;
    height: 50px;
    /* margin-top: 25px;
    margin-left: 10px; */
}
/* lw And sw */
label {
    margin-left: 9px;
}

input{
    border: 1px solid blue;
    border-radius: 5px;
    padding-top: 4px;
    padding-right: 18px;
    margin-top: 5px;
    margin-left: 20px;
    display: block;
    background-color: #ffffff44;
}