* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Serif Text";
}
body {
    /* width: 203.6vh;
    height: 99.3vh; */
    background-image: url(../images/bg3.png);
}
/* lw And sw */
label {
    margin-left: 9px;
}

input{
    border: 1px solid blue;
    border-radius: 5px;
    padding-top: 4px;
    padding-right: 18px;
    margin-top: 5px;
    margin-left: 20px;
    display: block;
    background-color: #ffffff44;
}